### Import packages

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

### Load data from UCI database

In [2]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/housing/housing.data'

cols = ['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax', 'ptratio', 'bk', 'lstat', 'medv']

df = pd.read_csv(url, names = cols, delim_whitespace=True)
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,bk,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

### Create input variable matrix X & dependent variable y

In [3]:
X = df.loc[:, ['rm', 'age']].values
X = (X - X.mean(axis = 0)) / (X.max(axis = 0) - X.min(axis = 0)) # normalize data
X = np.column_stack([np.ones(len(X)), X]) # append 1 for intercept
y = df.medv.values

### Codes for algorithm

In [4]:
def sgd (X, y, theta, lr = 0.01, n = 1000):
    
    m = len(y)
    theta_history = np.zeros((X.shape[1], n))
    
    for i in range(n):
        
        for idx, row in enumerate(X):
            
            pred = row.dot(theta)
            loss = pred - y[idx]
            theta = theta - lr * row * loss
        
        theta_history[:, i] = theta
        
    return theta, theta_history

In [5]:
theta_final, theta_hist = sgd(X, y, np.array([1., 1., 1.]), lr = 0.0001, n = 10000)

### Test results

In [6]:
# analytic solution

best = np.linalg.inv(X.T.dot(X)).dot(X.T).dot(y)
best

array([22.53280632, 43.84785241, -7.0666259 ])

In [7]:
theta_final

array([22.51493507, 43.82827591, -7.06561667])

In [8]:
theta_hist.T

array([[ 2.06100876,  1.04315007,  0.94481361],
       [ 3.0696657 ,  1.08622722,  0.88992212],
       [ 4.02855405,  1.12923202,  0.83532223],
       ...,
       [22.51493507, 43.82826165, -7.06561865],
       [22.51493507, 43.82826879, -7.06561766],
       [22.51493507, 43.82827591, -7.06561667]])