### Excercise based on [this article](https://www.analyticsvidhya.com/blog/2018/06/comprehensive-guide-recommendation-engine-python/)

In [1]:
# load user data

users = pd.read_csv('ml-100k/u.user', sep = '|', names = ['uid', 'age', 'sex', 'job', 'zip'])
users.head()

   uid  age sex         job    zip
0    1   24   M  technician  85711
1    2   53   F       other  94043
2    3   23   M      writer  32067
3    4   24   M  technician  43537
4    5   33   F       other  15213

In [2]:
# load rating data

ratings = pd.read_csv('ml-100k/u.data', sep = '\t', names = ['uid', 'mid', 'rating', 'timestamp'])
ratings.timestamp = pd.to_datetime(ratings.timestamp, unit = 's')
ratings.head()

   uid  mid  rating           timestamp
0  196  242       3 1997-12-04 15:55:49
1  186  302       3 1998-04-04 19:22:22
2   22  377       1 1997-11-07 07:18:36
3  244   51       2 1997-11-27 05:02:03
4  166  346       1 1998-02-02 05:33:16

In [3]:
# load items data

items = pd.read_csv('ml-100k/u.item', sep = '|', names = ['mid', 'title', 'release_date', 'vd_release_date', 'url', 'unkown', 'Action', 'Adventure',
'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western'], encoding = 'latin-1', parse_dates = ['release_date'])
items.head()

,mid,title,release_date,vd_release_date,url,unkown,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),1995-01-01,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),1995-01-01,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),1995-01-01,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),1995-01-01,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),1995-01-01,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0

In [4]:
# load training & testing data for ratings

ratings_train = pd.read_csv('ml-100k/ua.base', sep = '\t', names = ['uid', 'mid', 'rating', 'timestamp'])
ratings_test = pd.read_csv('ml-100k/ua.test', sep = '\t', names = ['uid', 'mid', 'rating', 'timestamp'])
ratings_train.timestamp = pd.to_datetime(ratings_train.timestamp, unit = 's')
ratings_test.timestamp = pd.to_datetime(ratings_test.timestamp, unit = 's')
ratings_train.shape,ratings_test.shape

((90570, 4), (9430, 4))

In [5]:
# get unique number of users and movies

n_users = len(ratings.uid.unique())
n_items = len(ratings.mid.unique())

In [6]:
# pivot data ratings df into user by movie rating matrix

data_matrix = ratings.pivot_table(index='uid', columns=['mid'], values='rating', aggfunc='mean').replace(np.nan, 0).values
data_matrix

array([[5., 3., 4., ..., 0., 0., 0.],
       [4., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [5., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 5., 0., ..., 0., 0., 0.]])

In [7]:
# calculate similarities based on distance

from sklearn.metrics.pairwise import pairwise_distances

user_sim = pairwise_distances(data_matrix, metric = 'cosine')
item_sim = pairwise_distances(data_matrix.T, metric = 'cosine')

In [8]:
# build prediction function based on similarity

def predict(ratings, similarity, type = 'user'):
    
    if type == 'user':
        
        mean_user_rating = ratings.mean(axis = 1)
        ratings_diff = ratings - mean_user_rating[:, np.newaxis]
        pred = mean_user_rating[:, np.newaxis] + similarity.dot(ratings_diff) / np.abs(similarity).sum(axis = 1).reshape(-1, 1)
        
        # each matrix element ij represents all users' ratings on movie j, weighted by similarity between user i and all others
        
    elif type =='item':
        
        pred = ratings.dot(similarity) /np.abs(similarity).sum(axis=1).reshape(1, -1)
        
        # each matrix element ij represents user i's ratings on all movies j, weighted by similarity between movie j and all others
        
    return pred

In [9]:
# make predictions

user_pred = predict(data_matrix, user_sim, type = 'user')
item_pred = predict(data_matrix, item_sim, type = 'item')

In [10]:
# test on training data

user_pred[0]

array([2.06532606, 0.73430275, 0.62992381, ..., 0.39359041, 0.39304874,
       0.3927712 ])

In [11]:
# check the most recommended movie for user 1 based on user similarity

items.loc[np.argmax(user_pred[0]),:]

mid                                                               50
title                                               Star Wars (1977)
release_date                                     1977-01-01 00:00:00
vd_release_date                                                  NaN
url                http://us.imdb.com/M/title-exact?Star%20Wars%2...
unkown                                                             0
Action                                                             1
Adventure                                                          1
Animation                                                          0
Children's                                                         0
Comedy                                                             0
Crime                                                              0
Documentary                                                        0
Drama                                                              0
Fantasy                                                            0
Film-Noir                                                          0
Horror                                                             0
Musical                                                            0
Mystery                                                            0
Romance                                                            1
Sci-Fi                                                             1
Thriller                                                           0
War                                                                1
Western                                                            0
Name: 49, dtype: object

In [12]:
# check the most recommended movie for user 1 based on item similarity

items.loc[np.argmax(item_pred[0]),:]

mid                                                        1387
title                                               Fall (1997)
release_date                                1997-06-27 00:00:00
vd_release_date                                             NaN
url                http://us.imdb.com/M/title-exact?Fall+(1997)
unkown                                                        0
Action                                                        0
Adventure                                                     0
Animation                                                     0
Children's                                                    0
Comedy                                                        0
Crime                                                         0
Documentary                                                   0
Drama                                                         0
Fantasy                                                       0
Film-Noir                                                     0
Horror                                                        0
Musical                                                       0
Mystery                                                       0
Romance                                                       1
Sci-Fi                                                        0
Thriller                                                      0
War                                                           0
Western                                                       0
Name: 1386, dtype: object

In [26]:
# check all the movies rated 5 by user 1

items[items.mid.isin(ratings.loc[(ratings.uid ==1) & (ratings.rating == 5),:]['mid'].values)]

,mid,title,release_date,vd_release_date,url,unkown,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),1995-01-01,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
5,6,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,1995-01-01,NaN,http://us.imdb.com/Title?Yao+a+yao+yao+dao+wai...,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
8,9,Dead Man Walking (1995),1995-01-01,NaN,http://us.imdb.com/M/title-exact?Dead%20Man%20...,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
11,12,"Usual Suspects, The (1995)",1995-08-14,NaN,http://us.imdb.com/M/title-exact?Usual%20Suspe...,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0
12,13,Mighty Aphrodite (1995),1995-10-30,NaN,http://us.imdb.com/M/title-exact?Mighty%20Aphr...,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
13,14,"Postino, Il (1994)",1994-01-01,NaN,"http://us.imdb.com/M/title-exact?Postino,%20Il...",0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
14,15,Mr. Holland's Opus (1995),1996-01-29,NaN,http://us.imdb.com/M/title-exact?Mr.%20Holland...,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
15,16,French Twist (Gazon maudit) (1995),1995-01-01,NaN,http://us.imdb.com/M/title-exact?Gazon%20maudi...,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
18,19,Antonia's Line (1995),1995-01-01,NaN,http://us.imdb.com/M/title-exact?Antonia%20(1995),0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
31,32,Crumb (1994),1994-01-01,NaN,http://us.imdb.com/M/title-exact?Crumb%20(1994),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
41,42,Clerks (1994),1994-01-01,NaN,http://us.imdb.com/M/title-exact?Clerks%20(1994),0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
43,44,Dolores Claiborne (1994),1994-01-01,NaN,http://us.imdb.com/M/title-exact?Dolores%20Cla...,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0
44,45,Eat Drink Man Woman (1994),1994-01-01,NaN,http://us.imdb.com/M/title-exact?Yinshi%20Nan%...,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
47,48,Hoop Dreams (1994),1994-01-01,NaN,http://us.imdb.com/M/title-exact?Hoop%20Dreams...,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
49,50,Star Wars (1977),1977-01-01,NaN,http://us.imdb.com/M/title-exact?Star%20Wars%2...,0,1,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0,1,0
54,55,"Professional, The (1994)",1994-01-01,NaN,http://us.imdb.com/Title?L%E9on+(1994),0,0,0,0,0,0,1,0,1,0,0,0,0,0,1,0,1,0,0
56,57,Priest (1994),1994-01-01,NaN,http://us.imdb.com/M/title-exact?Priest%20(1994),0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
58,59,Three Colors: Red (1994),1994-01-01,NaN,http://us.imdb.com/M/title-exact?Trzy%20kolory...,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
59,60,Three Colors: Blue (1993),1993-01-01,NaN,http://us.imdb.com/M/title-exact?Trzy%20kolory...,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
63,64,"Shawshank Redemption, The (1994)",1994-01-01,NaN,http://us.imdb.com/M/title-exact?Shawshank%20R...,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
80,81,"Hudsucker Proxy, The (1994)",1994-01-01,NaN,http://us.imdb.com/M/title-exact?Hudsucker%20P...,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
81,82,Jurassic Park (1993),1993-01-01,NaN,http://us.imdb.com/M/title-exact?Jurassic%20Pa...,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
85,86,"Remains of the Day, The (1993)",1993-01-01,NaN,http://us.imdb.com/M/title-exact?Remains%20of%...,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
86,87,Searching for Bobby Fischer (1993),1993-01-01,NaN,http://us.imdb.com/M/title-exact?Searching%20f...,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
88,89,Blade Runner (1982),1982-01-01,NaN,http://us.imdb.com/M/title-exact?Blade%20Runne...,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0
90,91,"Nightmare Before Christmas, The (1993)",1993-01-01,NaN,http://us.imdb.com/M/title-exact?Nightmare%20B...,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0
92,93,Welcome to the Dollhouse (1995),1996-05-24,NaN,http://us.imdb.com/Title?Welcome+to+the+Dollho...,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
95,96,Terminator 2: Judgment Day (1991),1991-01-01,NaN,http://us.imdb.com/M/title-exact?Terminator%20...,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0
99,100,Fargo (1996),1997-02-14,NaN,http://us.imdb.com/M/title-exact?Fargo%20(1996),0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0
107,108,Kids in the Hall: Brain Candy (1996),1996-04-12,NaN,http://us.imdb.com/M/title-exact?Kids%20in%20t...,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,174,Raiders of the Lost Ark (1981),1981-01-01,NaN,http://us.imdb.com/M/title-exact?Raiders%20of%...,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
174,175,Brazil (1985),1985-01-01,NaN,http://us.imdb.com/M/title-exact?Brazil%20(1985),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
175,176,Aliens (1986),1986-01-01,NaN,http://us.imdb.com/M/title-exact?Aliens%20(1986),0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,0
176,177,"Good, The Bad and The Ugly, The (1966)",1966-01-01,NaN,"http://us.imdb.com/M/title-exact?Buono,%20il%2...",0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
177,178,12 Angry Men (1957),1957-01-01,NaN,http://us.imdb.com/M/title-exact?12%20Angry%20...,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
180,181,Return of the Jedi (1983),1997-03-14,NaN,http://us.imdb.com/M/title-exact?Return%20of%2...,0,1,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0,1,0
182,183,Alien (1979),1979-01-01,NaN,http://us.imdb.com/M/title-exact?Alien%20(1979),0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0,0
189,190,Henry V (1989),1989-01-01,NaN,http://us.imdb.com/M/title-exact?Henry%20V%20(...,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0
190,191,Amadeus (1984),1984-01-01,NaN,http://us.imdb.com/M/title-exact?Amadeus%20(1984),0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0
194,195,"Terminator, The (1984)",1984-01-01,NaN,"http://us.imdb.com/M/title-exact?Terminator,%2...",0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0
195,196,Dead Poets Society (1989),1989-01-01,NaN,http://us.imdb.com/M/title-exact?Dead%20Poets%...,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
196,197,"Graduate, The (1967)",1967-01-01,NaN,"http://us.imdb.com/M/title-exact?Graduate,%20T...",0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
197,198,Nikita (La Femme Nikita) (1990),1990-01-01,NaN,http://us.imdb.com/M/title-exact?Nikita%20(1990),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
201,202,Groundhog Day (1993),1993-01-01,NaN,http://us.imdb.com/M/title-exact?Groundhog%20D...,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
203,204,Back to the Future (1985),1985-01-01,NaN,http://us.imdb.com/M/title-exact?Back%20to%20t...,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
206,207,Cyrano de Bergerac (1990),1990-01-01,NaN,http://us.imdb.com/M/title-exact?Cyrano%20de%2...,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
207,208,Young Frankenstein (1974),1974-01-01,NaN,http://us.imdb.com/M/title-exact?Young%20Frank...,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0
215,216,When Harry Met Sally... (1989),1989-01-01,NaN,http://us.imdb.com/M/title-exact?When%20Harry%...,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
220,221,Breaking the Waves (1996),1996-11-15,NaN,http://us.imdb.com/M/title-exact?Breaking%20th...,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
222,223,Sling Blade (1996),1996-11-22,NaN,http://us.imdb.com/M/title-exact?Sling%20Blade...,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0
223,224,Ridicule (1996),1996-11-27,NaN,http://us.imdb.com/M/title-exact?Ridicule%20(1...,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
227,228,Star Trek: The Wrath of Khan (1982),1982-01-01,NaN,http://us.imdb.com/M/title-exact?Star%20Trek:%...,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
234,235,Mars Attacks! (1996),1996-12-13,NaN,http://us.imdb.com/M/title-exact?Mars%20Attack...,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0
241,242,Kolya (1996),1997-01-24,NaN,http://us.imdb.com/M/title-exact?Kolya%20(1996),0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
245,246,Chasing Amy (1997),1997-01-01,NaN,http://us.imdb.com/M/title-exact?Chasing+Amy+(...,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
252,253,"Pillow Book, The (1995)",1997-06-13,NaN,http://us.imdb.com/M/title-exact?Pillow%20Book...,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
257,258,Contact (1997),1997-07-11,NaN,http://us.imdb.com/Title?Contact+(1997/I),0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0
267,268,Chasing Amy (1997),1997-01-01,NaN,http://us.imdb.com/M/title-exact?Chasing+Amy+(...,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
268,269,"Full Monty, The (1997)",1997-01-01,NaN,http://us.imdb.com/M/title-exact?Full+Monty%2C...,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
269,270,Gattaca (1997),1997-01-01,NaN,http://us.imdb.com/M/title-exact?Gattaca+(1997),0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,1,0,0